<footer class="width-full py-4 flex content-center">
    <div class="copyright flex items-center">
        &copy; {{ now.Format "2006" }}
        <span class="lg:hidden">&nbsp;HAPI&nbsp;</span>
        <span class="hidden lg:inline">&nbsp;Homeschool Association of the Philippine Islands&nbsp;</span> 
        <span class="text-gray-500">&bull; site in beta</span>
    </div>
    <div class="flex flex-grow items-center justify-end">
        <a href="{{ $.Site.Params.facebookURL }}" class="pl-4 text-gray-500 hover:text-gray-700">
            <i data-feather="facebook"></i>
        </a>
        <a href="{{ $.Site.Params.twitterURL }}" class="pl-4 text-gray-500 hover:text-gray-700">
            <i data-feather="twitter"></i>
        </a>
        <a href="{{ $.Site.Params.instagramURL }}" class="pl-4 text-gray-500 hover:text-gray-700">
            <i data-feather="instagram"></i>
        </a>
    </div>
</footer>

<script src="{{ $.Site.Data.webpack.app.js }}"></script>