{{ define "navigation" }}

<nav class="initial fixed flex items-center justify-between flex-wrap py-4 px-10 bg-white z-50 top-0 container">
    <div class="flex items-center flex-shrink-0 mr-6">
        <div class="logo"><a href="/"><img src="/hapi-logo.svg" /></a></div>
    </div>
    <div class="block lg:hidden">
        <button
            class="menu-button flex items-center focus:outline-none text-gray-500 hover:text-gray-400">
            <i data-feather="menu"></i>
        </button>
    </div>
    <div class="menu closed none w-full flex-grow lg:flex lg:items-center lg:justify-end lg:w-auto">
        <a href="/about/" class="block px-3 py-4 leading-tight text-gray-800 hover:text-white hover:bg-gray-700 lg:inline-block">About</a>
        <a href="/frequently-asked-questions/" class="block px-3 py-4 leading-tight text-gray-800 hover:text-white hover:bg-gray-700 lg:inline-block">FAQs</a>
        <a href="/articles/" class="block px-3 py-4 leading-tight text-gray-800 hover:text-white hover:bg-gray-700 lg:inline-block">Articles</a>
        <a href="/contact/" class="block px-3 py-4 leading-tight text-gray-800 hover:text-white hover:bg-gray-700 lg:inline-block">Contact Us</a>
    </div>
</nav>

{{ end }}