@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-bold.eot');
    src: url('/fonts/hkgrotesk-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-bold.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-bolditalic.eot');
    src: url('/fonts/hkgrotesk-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-bolditalic.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-italic.eot');
    src: url('/fonts/hkgrotesk-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-italic.woff2') format('woff2'),
         url('/fonts/hkgrotesk-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-light.eot');
    src: url('/fonts/hkgrotesk-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-light.woff2') format('woff2'),
         url('/fonts/hkgrotesk-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-lightitalic.eot');
    src: url('/fonts/hkgrotesk-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-lightitalic.woff2') format('woff2'),
         url('/fonts/hkgrotesk-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-medium.eot');
    src: url('/fonts/hkgrotesk-medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-medium.woff2') format('woff2'),
         url('/fonts/hkgrotesk-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-mediumitalic.eot');
    src: url('/fonts/hkgrotesk-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-mediumitalic.woff2') format('woff2'),
         url('/fonts/hkgrotesk-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-regular.eot');
    src: url('/fonts/hkgrotesk-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-regular.woff2') format('woff2'),
         url('/fonts/hkgrotesk-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-semibold.eot');
    src: url('/fonts/hkgrotesk-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-semibold.woff2') format('woff2'),
         url('/fonts/hkgrotesk-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/hkgrotesk-semibolditalic.eot');
    src: url('/fonts/hkgrotesk-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hkgrotesk-semibolditalic.woff2') format('woff2'),
         url('/fonts/hkgrotesk-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}