<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="text-gray-900 font-medium font-body block">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base
    href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}{{ with .Page.Title }} - {{ . }}{{end}}</title>

  {{ template "_internal/opengraph.html" . }}

  {{ partial "google-fonts" . }}
  {{ partial "icons" . }}
  
  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
  {{ with .Params.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>

<body class="w-full mx-auto container block">
  <span class="menuwatch"></span>
  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <div class="mx-auto lg:px-none md:px-none px-10 pt-32">

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
  {{ with .Params.js }}
    
      <script src="{{ relURL . }}"></script>
    
  {{ end }}
</body>

</html>