{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<main class="content lg:flex lg:flex-row-reverse">
  <aside class="w-full lg:w-1/4">
    <details open>
      <summary class="focus:outline-none">
        <strong>Table of Contents</strong>
      </summary>
      {{ replace .TableOfContents `href="#` (printf `href="%s#` .Permalink) | safeHTML }}
    </details>
  </aside>
  <article class="w-full lg:w-3/4 text-lg">{{- .Content -}}</article>
</main>
{{ end }}