<div class="shadow-md mb-6 p-5">
    <figure class="text-center">
        <img src="{{ .Params.image }}" class="w-full pa-6" />
        <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <div class="text-left">
            {{ .Summary }}
        </div>
    </figure>
</div>