{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ .Content }}
    </article>

    <ul class="list-none grid grid-columns-1 sm:grid-columns-2 md:grid-columns-3 lg:grid-columns-4 grid-gap-8 mt-6">
        {{ range sort .Pages "Params.order" }}
            {{ .Render "li" }}
        {{ end }}
    </ul>
</main>
{{ end }}
