{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="flex items-center">
    <div class="pr-10">
        <img src="{{ .Params.image }}" class="pa-6 rounded-full shadow-md w-64" />
    </div>
    <article class="content flex-grow-1">
        {{ with .Title }}
        <header>
            <h1>{{.}}</h1>
        </header>
        {{ end }}
        <main>{{- .Content -}}</main>
    </article>
</div>
{{ end }}