---
title: A Little History
layout: empty
type: about
order: 2
---

<hr>

<style>
    .timeline {
        --uiTimelineMainColor: var(--timelineMainColor, #222);
        --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
    }

    .timeline:before {
        content: "";
        width: 0.25em;
        height: 100%;
        background-color: lightsteelblue;

        position: absolute;
        top: 0;
    }

    .year {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-left: 1.5rem;
        position: relative;
    }

    .year::before {
        content: "";
        width: 1rem;
        height: 0.25em;
        background-color: lightsteelblue;
        position: absolute;
        left: 0;
        top: 1rem;
        transform: translateY(-1px);
        z-index: 1;
    }

    .month {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }
</style>
<div class="timeline relative pt-3 pb-4 mt-8">
    <div class="fade-up year">
        <h4>2010</h4>
        <p>HAPI is born</p>
    </div>
    <div class="fade-up month">
        <h5>May</h5>
        <p>HAPI mounts "Homeschool United" Family Day</p>
    </div>
    <div class="fade-up month">
        <h5>October</h5>
        <p>
            HAPI mounts <a
                href="http://teachermamatina.blogspot.com/2010/11/my-3rd-philippine-homeschool-conference.html">3rd
                Philippine Homeschool Conference</a>
        </p>
    </div>
    <div class="fade-up year">
        <h4>2011</h4>
    </div>
    <div class="fade-up month">
        <h5>January-April</h5>
        <p>HAPI mounts roadshows</p>
    </div>
    <div class="fade-up month">
        <h5>May</h5>
        <p>HAPI mounts Music and Arts Festival</p>
    </div>
    <div class="fade-up month">
        <h5>October</h5>
        <p>HAPI mounts Bible Festival</p>
    </div>
    <div class="fade-up year">
        <h4>2012</h4>
    </div>
    <div class="fade-up month">
        <h5>May</h5>
        <p>
            HAPI
            mounts <a
                href="https://www.wheninmanila.com/homeschooling-association-of-the-philippine-islands-hapi-homeschool-conference/">4th
                Philippine Homeschool Conference</a> with Mommy Mundo
        </p>
    </div>
    <div class="fade-up year">
        <h4>2015</h4>
    </div>
    <div class="fade-up month">
        <h5>October</h5>
        <p>
            HAPI mounts <a href="https://manilaworkshops.com/events/homeschool-conference-2015">Philippine Homeschool
                Conference</a> with Manila Workshops
        </p>
    </div>
    <div class="fade-up year">
        <h4>2016</h4>
        <p>
            HAPI mounts <a
                href="https://www.philstar.com/lifestyle/health-and-family/2016/10/14/1633488/heres-why-even-non-homeschoolers-should-attend-philippine-homeschool-conference-2016">Philippine
                Homeschool Conference 2016</a> with EFL
        </p>
    </div>
    <div class="fade-up year">
        <h4>2017</h4>
        <p>
            HAPI mounts <a
                href="https://www.wheninmanila.com/the-philippine-homeschool-conference-2017-educating-for-the-world-of-tomorrow/">Philippine
                Homeschool Conference 2017</a> with EFL
        </p>
    </div>
    <div class="fade-up month">
        <h5>March</h5>
        <p>
            HAPI helps launch the "<a href="https://www.senate.gov.ph/press_release/2017/0303_pangilinan1.asp">National
                Homeschool Day</a>" as enacted by Sen. Kiko Pangilinan
        </p>
    </div>
    <div class="fade-up year">
        <h4>2018-2019</h4>
        <p>
            HAPI endorses PHC by EFL and GHC by HG
        </p>
    </div>
    <div class="fade-up year">
        <h4>2019</h4>
    </div>
    <div class="fade-up month">
        <h5>August</h5>
        <p>
            HAPI helps craft <a href="https://www.deped.gov.ph/wp-content/uploads/2019/08/DO_s2019_021.pdf">revised
                homeschooling framework</a> with DepEd
        </p>
    </div>
</div>