---
title: 
layout: empty
type: about
order: 1
---

<div class="flex mt-6">
    <div class="flex-grow-1 pr-5">
        <h3>Mission</h3>
        <p>
            To equip homeschool leaders who will shape the Philippine homeschooling landscape.
        </p>
    </div>
    <div class="flex-grow-1">
        <h3>Vision</h3>
        <p>
            To see homeschooling recognised as an available and respected form of education, shaping leaders and
            movers who build our nation.
        </p>
    </div>
</div>