---
title: Services
layout: empty
type: about
order: 3
---

<hr>
<div class="flex flex-wrap lg:flex-no-wrap">
    <div class="flex-grow-1 pr-10">
        <h3><a id="Help"></a>Help</h3>
        <ul class="list-disc">
            <li class="fade-up">Leadership equipping (i.e. trainings,
                materials, etc.)</li>
            <li class="fade-up">Discounts/perks across establishments,
                facilities, etc. obtained by HAPI</li>
            <li class="fade-up">Assistance in starting-up a group*</li>
        </ul>
    </div>
    <div class="flex-grow-1 pr-10">
        <h3><a id="AwarenessBuilding"></a>Awareness-Building</h3>
        <ul class="list-disc"/>
            <li class="fade-up">Listing on HAPI website and social media
            </li>
            <li class="fade-up">Inclusion &amp; Benefits in the annual
                Philippine Home Education Conference</li>
            <li class="fade-up">Inclusion &amp; Benefits in the National
                Homeschoolers Day celebration</li>
            <li class="fade-up">Acknowledgement in the HAPI CSR advocacies
            </li>
    </div>
    <div class="flex-grow-1 pr-10">
        <h3><a id="Partner_with_DepEd"></a>“Partner” with DepEd</h3>
        <ul class="list-disc"/>
            <li class="fade-up">Liaison, cooperate with, and engage DepEd
                as needs arise</li>
            <li class="fade-up">Help create &amp; maintain a homeschool
                framework that considers your Organizations needs</li>
        </ul>
    </div>
    <div class="flex-grow-1 pr-10">
        <h3><a id="Interaction"></a>Interaction</h3>
        <ul class="list-disc">
            <li class="fade-up">Opportunities to exchange best practices
                with other HAPI members</li>
            <li class="fade-up">Participation in and use of National
                Research collated by HAPI</li>
        </ul>
    </div>
</div>