<article class="w-full lg:w-1/3 px-2 mb-4 pt-2 border-t-4">
    <div class="flex justify-between">
        {{ if not $.Data.Singular }}
        <small>
            {{ range $index, $element := .Params.categories }}
            {{if $index}} ,{{end}}
            <a href="{{ "/categories/" | relLangURL }}{{ $element | urlize }}">{{ $element }}</a>
            {{ end }}
            {{ if and .Params.author .Params.categories }} | {{ end }}
            {{ with .Params.author }}{{ . }}{{ end }}
        </small>
        {{ end }}

        {{ with .Params.tags }}
        <div class="text-xs">
            <small>
                {{ range $index, $element := first 1 . }}
                <span class="flex rounded-full bg-gray-400 uppercase px-2 py-1 font-bold mr-3">
                    {{$element}}
                </span>
                {{ end }}
            </small>
        </div>
        {{ end }}
    </div>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <hr class="border-gray-500">
    <div class="block">
        {{ or .Description .Summary }}
        {{ with index .Params "original article" }}
        <div>
            <a href="{{ . }}" class="text-gray-500">See original article</a>
        </div>
        {{ end }}
        {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div>
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
    </div>
</article>