/*
  You can use import statements to include partials:
 */

@tailwind base;

h1, h2, h3, h4, h5, h6 {
  @apply font-bold font-display text-blue-900;
}

hr {
  border-top-width: 0.25rem;
  @apply w-12 border-gray-500 mb-3;
}

h1>a, h2>a, h3>a, h4>a, h5>a {
  @apply text-gray-700;
}

h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover, h5>a:hover {
  @apply underline text-gray-500;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

@media screen and (prefers-reduced-motion: reduce) {
  html, .overflow-auto, .scroll-smooth {
    scroll-behavior: auto;
  }
}

.overflow-auto, .scroll-smooth {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  @apply text-sm;
}

@media (min-width: 420px) {
  html {
    @apply text-base;
  }
  /* md */
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@media (min-width: 768px) {
  /* md */
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

/* @media (min-width: 350px) { /* xxs
  html {
    font-size: 50%;
  }
} */

blockquote {
  @apply pl-4 py-1 my-2 border-l-4 border-solid border-gray-400 text-gray-700;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-700;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

p {
  @apply mb-4;
}

/* input {
  @apply shadow border-2 rounded block px-4 py-2 mb-4 leading-tight;
} */

@import 'imports/fonts.css';
@tailwind components;
@tailwind utilities;
/* .container {
  overflow: auto;
} */

.anchor {
  display: block;
  height: 0px;
  position: relative;
  /* this is the height of your header */
  top: -80px;
  /* this is again negative value of the height of your header */
  visibility: hidden;
}

::selection {
  @apply bg-yellow-400;
}

::-moz-selection {
  @apply bg-yellow-400;
}

.center-hack {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.wide {
  @apply -ml-5;
  width: calc(100% + 2.5rem);
}

@media (max-width: 1023px) {
  /* unreasonable to have mobile-first here :( */
  .menu {
    will-change: height;
    transition: all 0.9s;
    overflow: hidden;
    height: 18rem;
    opacity: 1;
  }
  .menu.closed {
    height: 0rem;
    opacity: 0;
  }
}

nav .logo {
  @apply w-16;
  will-change: height;
  transition: all 0.4s ease;
}

nav.initial .logo {
  @apply w-32;
}

.menuwatch {
  position: absolute;
  top: 50px;
  width: 50px;
  height: 50px;
}

.btn {
  @apply border shadow rounded py-3 px-5 font-semibold leading-tight bg-white text-gray-900;
}

.btn:hover {
  @apply bg-black text-white;
}

.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}

.fade-up.animated {
  opacity: 1;
  transform: translateY(0px);
}