---
title: 'Contact Us'
---

<div class="flex flex-wrap lg:flex-no-wrap">
    <div class="w-full lg:flex-0 p-4 mb-4 lg:mr-2 bg-blue-800 text-white">
        <h2 class="text-white">Join Us</h2>
        <div class="mb-4">
            <p>Be equipped by becoming a HAPI member.</p>
            <ol style="list-style-type: upper-alpha;">
                <li>
                    <details class="inline-block">
                        <summary><strong>Definition of Members</strong></summary>
                        <p>A member is broadly classified as either an existing Leader or a
                            Leader-in-training (LIT). A Leader has a group of homeschoolers
                            they represent, either formally through SEC-registered for-profit
                            or non-profit organizations, or informally through Facebook groups
                            and the like. A LIT has the desire to represent a group of
                            homeschoolers but at the time of becoming a HAPI Member is not yet
                            doing so.</p>
                        <p>A member also chooses whether to be a “working” member. This
                            person commits to be part of a team that handles certain projects
                            and/or tasks for HAPI. In this “working” capacity, they commit to
                            do their best to achieve the goals of the project, including
                            timetables and budgets. In exchange for the work they put in, they
                            are given subsidies on their membership fees.</p>
                        <p>Given the above definitions, there are effectively four (4)
                            types of HAPI members:</p>
                        <ol>
                            <li>Leader</li>
                            <li>Working Leader</li>
                            <li>LIT</li>
                            <li>Working LIT</li>
                        </ol>
                    </details>
                </li>
                <li>
                    <details class="inline-block">
                        <summary><strong>Term of Membership</strong></summary>
                        <p>The term of membership is one (1) year, from January 1 to
                            December 31 of said membership year. Where the member signs up
                            outside of the January 1 start date, the membership starts upon
                            sign-up and ends on December 31 of said membership year.</p>
                        <p>Renewals are subject to compliance of membership requirements in
                            the term that lapsed.</p>
                    </details>
                </li>
                <li>
                    <details class="inline-block">
                        <summary><strong>Application Process</strong></summary>
                        <p><strong>Step 1:</strong> Attend General Orientation. An
                            orientation shall be provided in order for prospective member to
                            understand HAPI and it’s aims prior to pursuing application.</p>
                        <p><strong>Step 2:</strong> Fill-out and submit application form.
                            Details will include:</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li>Basic information regarding applicant and the group which
                                he/she represents</li>
                            <li>Name of HAPI member endorsement</li>
                            <li>Type of commitment offered: working vs. advisory</li>
                            <li>If working, team serving in: Help, Awareness, Partner,
                                Interaction</li>
                        </ol>
                        <p><strong>Step 3:</strong> Await processing. Application will be
                            evaluated by a select team of HAPI representatives. Once completed,
                            applicant will be notified.</p>
                        <p><strong>Step 4:</strong> Pay and sign. Where approved, new
                            member should pay the membership fees and sign the HAPI commitment
                            form.</p>
                    </details>
                </li>
                <li>
                    <details class="inline-block">
                        <summary><strong>Fees & Payments (Waived for 2020)</strong></summary>
                        <p>Membership Fees are based on the type of membership:</p>
                        <ol>
                            <li><strong>Leader:</strong> P12,000 per year or P1,000 per
                                month</li>
                            <li><strong>Working Leader:</strong> P6,000 per year or P500 per
                                month (50% discount)</li>
                            <li><strong>LIT:</strong> P18,000 per year or P1,500 per month +
                                start-up training fee*</li>
                            <li><strong>Working LIT:</strong> P9,000 per year or P750 per month
                                (50% discount) + start-up training fee*</li>
                        </ol>
                        <p>*for LIT a special start-up training fee shall be added
                            (specific fee shall be determined with member based on his / her
                            needs)</p>
                        <p>Payment of Membership Fees are either (a) upfront upon signing
                            (with cash discount), or (b) monthly at the 1st day of every month.
                            If payments are delayed, without prior written notice to and
                            discussion with HAPI, the membership status shall be put on hold
                            until such time the member is able to discuss and resolve payment
                            concerns with HAPI.</p>
                    </details>
                </li>
            </ol>
        </div>
        <form
            action="https://docs.google.com/forms/d/e/1FAIpQLSfNzt5Sv2cqvWTu-8Kp_ImOd11TCwwrZ1EcjsLloV3hyXuA6w/viewform"
            method="get" target="_blank" id="member_application_form" name="member_application_form">
            <div class="flex flex-wrap justify-between mb-2">
                <div class="w-1/2 pr-2 mb-2"><label for="entry.1415997399">First
                        Name</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="First Name" name="entry.1415997399" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-1/2 pl-2 mb-2"><label for="entry.231819289">Last
                        Name</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="Last Name" name="entry.231819289" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-full mb-2"><label for="entry.839044932">
                        Address</label>
                    <textarea
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full data-rows="
                        tabindex="0" aria-label="Your Address" required="" name="entry.839044932"
                        data-initial-dir="auto"></textarea></div>
                <div class="w-1/2 pr-2 mb-2"><label for="emailAddress">
                        Email</label> <input type="email"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="email" tabindex="0" aria-label="Your email" name="emailAddress" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-1/2 pl-2 mb-2"><label for="entry.1805729966">
                        Mobile Number</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="Your Mobile Number" name="entry.1805729966" value=""
                        data-initial-dir="auto"></div>
            </div>
            <div class="text-right">
                <small class="text-blue-200">You'll need to sign in to a Google Account to continue.</small>
                <input
                    class="inline-block btn hover:border-none appearance-none cursor-pointer"
                    type="submit" value="Start application"></div>
        </form>
    </div>
    <div class="w-full lg:flex-0 p-4 mb-4 lg:ml-2 bg-red-600 text-white">
        <h2 class="text-white">Other concerns</h2>
        <p class="mb-4">We're open to any questions or inquiries about us or our advocacy. Drop us a line and we'll get
            back to you as soon as possible.</p>
        <iframe name="contact_us_hidden" id="contact_us_hidden" class="w-full" height="322" frameborder="0"
            marginheight="0" marginwidth="0" style="display:none;"
            onload="if(window.contact_us_submitted!==undefined){document.getElementById('contact_us_hidden').style.display='block';document.getElementById('contact_us_form').style.display='none';}"></iframe>
        <form
            action="https://docs.google.com/forms/d/e/1FAIpQLSeo7KEc3_6ZKAT25UEVli7-E5QG7L1I5qGx86O5DXlozUuoCQ/viewform?usp=pp_url&amp;embedded=true"
            method="get" target="contact_us_hidden" id="contact_us_form" onsubmit="window.contact_us_submitted=true;"
            name="contact_us_form">
            <div class="flex flex-wrap justify-between mb-2">
                <div class="w-1/2 pr-2 mb-2"><label for="entry.1415997399">First
                        Name</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="First Name" name="entry.1415997399" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-1/2 pl-2 mb-2"><label for="entry.231819289">Last
                        Name</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="Last Name" name="entry.231819289" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-1/2 pr-2 mb-2"><label for="emailAddress">
                        Email</label> <input type="email"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="email" tabindex="0" aria-label="Your email" name="emailAddress" value=""
                        required="" data-initial-dir="auto"></div>
                <div class="w-1/2 pl-2 mb-2"><label for="entry.1361554167">Other
                        Contact Details</label> <input type="text"
                        class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full"
                        autocomplete="off" tabindex="0" aria-label="Other Contact Details" name="entry.1361554167"
                        value="" data-initial-dir="auto"></div>
            </div>
            <div class="mb-4">
                <label for="entry.1361554167">Message</label>
                <textarea class="block shadow border rounded px-3 py-2 leading-tight text-gray-700 w-full data-rows="
                    tabindex="0" aria-label="Message" jscontroller="gZjhIf"
                    jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" required="" name="entry.974298071"
                    data-initial-dir="auto"></textarea>
            </div>
            <input type="hidden" name="embedded" value="true">
            <div class="text-right"><input
                    class="inline-block btn appearance-none cursor-pointer"
                    type="submit" value="Send"></div>
        </form>
    </div>
</div>