{{ define "main" }}

<div class="w-full h-screen justify-center items-center">
    <h1>404</h1>
    <h3>The page you're looking for can't be found.</h3>
    <p><a href="{{ "/" | relURL }}">Take me home</a></p>
</div>

{{ end }}
