{{ define "main" }}
<div class="container">

    <section>
        <div class="flex text-left px-8 py-32 sm:py-64 md:px-16 h-auto overflow-hidden relative bg-cover bg-right-top bg-no-repeat"
            style="background-image:url(/philippines.svg);">
            <div class="self-center text-left">
                <p class="text-4xl font-display mb-5 font-bold"><span class="bg-white">Building the
                        nation through homeschooling.</span></p>
                <a href="/contact"
                    class="btn border-black bg-black text-white hover:bg-white hover:border-transparent hover:text-gray-900">Join
                    us -></a>
            </div>
        </div>
    </section>

    <section class="py-5">
        <a class="anchor" id="events"></a>
        <h1>Events</h1>
        <div class="flex flex-no-wrap scroll-smooth overflow-auto lg:overflow-hidden pt-5">
            {{ range $index, $page := (sort (where .Site.RegularPages "Section" "events") "Date" "asc")}}
            {{ $id := print "event-" (add $index 1) }}
            {{ with $page }}
            <div class="flex-none w-full focus:outline-none border-t-4 border-gray-400">
                <div class="px-5" id="{{ $id }}">
                    <div class="flex justify-between">
                        <h2><a href="{{ or .Params.link "" }}">{{ .Title }}</a></h2>
                        <div class="flex-none w-16 text-right">
                            <span class="font-light">{{ .Date.Format "15:04" }}</span>
                            <br />
                            <span class="font-bold">{{ .Date.Format "Jan 2" }}</span>
                        </div>
                    </div>
                    <p>{{ .Content }}</p>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="w-full overflow-auto font-bold uppercase">
            <ul class="flex list-none">
                {{ range $index, $page := (sort (where .Site.RegularPages "Section" "events") "Date" "asc") }}
                {{ $id := print "#event-" (add $index 1) }}
                <li class="mr-5"><a href="{{ $id }}">{{ $page.Date.Format "January 2" }}</a></li>
                {{ end }}
            </ul>
        </div>
    </section>

    <section class="py-5">
        <a class="anchor" id="hapi"></a>
        <h1><a href="/about">We're HAPI: The Homeschool Association of the Philippine Islands</a></h1>
        <p class="mb-4 text-lg">
            Since we started in 2010, our goal has been to support homeschoolers and equip leaders to shape and grow the
            national homeschooling movement. Our organization is Philippine-based and a
            non-profit, affiliated with various international and local groups, and run by a diverse core group of <a
                href="http://localhost:3000/about/#officers">officers</a> who are leaders in the homeschooling movement.
        </p>
        <a href="/about" class="btn inline-block">Learn more</a>
    </section>

    <section class="p-5 wide bg-gray-100">
        <a class="anchor" id="homeschooling"></a>
        <h1><a href="/frequently-asked-questions">What is homeschooling?</a></h1>
        <p class="mb-4 text-lg">
            Homeschooling is our main advocacy. We believe it is a powerful tool to bring about nationwide change
            through its unique educational method. As a result of this approach, parents can customize their learning
            environment for their child based on certain criteria defined by the Philippine Department of Education.
        </p>
        <a href="/frequently-asked-questions" class="btn inline-block">Learn more</a>
    </section>

    <section class="py-5">
        <a class="anchor" id="articles"></a>
        <h1><a href="/articles/">Articles</a></h1>
        <div class="flex flex-wrap mb-4">
            {{ range first 3 (where .Site.RegularPages "Section" "articles") }}
            {{ partial "articles/li" . }}
            {{ end }}
        </div>
        <a href="/articles/" class="btn inline-block">See all</a>
    </section>




    <!-- <section class="text-center mb-10">
        <h1 class="text-4xl text-center font-bold font-display">Milestones</h1>
        <img src="timeline.svg" class="w-3/5 block mx-auto">
    </section> -->

</div>

{{ end }}