{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        {{ .Content }}
    </article>

    <ul class="list-none flex flex-wrap mb-4">
        {{ range .Pages }}
        {{ .Render "li" }}
        {{ end }}
    </ul>
</main>
{{ end }}