{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<main class="content">
    {{ $title := .Title }}
    {{ if isset .Params.images 0 }}
    <div class="bg-cover bg-top mb-4 relative" style="background-image:url('{{ index .Params.images 0 }}')">
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-black opacity-50"></div>
        <div class="p-32 text-center relative">
            <h1 class="text-white font-light font-body">{{- $title -}}</h1>
        </div>
    </div>
    {{ end }}
    <header>
        <div class="uppercase flex justify-between">
            <div>
                {{ range $index, $element := .Params.categories }}
                {{if $index}} ,{{end}}
                <a href="/categories/{{$element}}">{{$element}}</a>
                {{ end }}
            </div>
        </div>
        <h1 class="font-serif">{{- .Title -}}</h1>
        {{ with .Params.tags }}
        <div class="mb-3">
            <span class="text-sm font-bold inline">
                <small class="flex inline">
                    {{ range . }}
                    <span class="flex rounded-full bg-gray-400 uppercase px-2 py-1 font-bold mr-3">
                        {{ . }}
                    </span>
                    {{ end }}
                </small>
            </span>
        </div>
        {{ end }}
        <div class="text-gray-500 flex justify-between">
            {{ with .PublishDate }}
            <p><em>Published {{ dateFormat "Monday, Jan 2, 2006" . }}</em></p>
            {{ end }}
            {{ with .Params.author }}
            <p>By {{ . }}</p>
            {{ end }}
        </div>
        {{ with index .Params "original article" }}
        <p>
            <em>Originally published <a href="{{ . }}">here</a>.</em>
        </p>
        {{ end }}
    </header>
    <article class="text-lg">
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
        {{- .Content -}}
    </article>
</main>
{{ end }}