{{ define "main" }}
<main>
    <article class="text-lg">
        {{ with .Title }}
            <header>
                <a class="anchor" id="who-we-are"></a>
                <h1>{{ . }}</h1>
            </header>
        {{ end }}
        {{ with .Content }}
            <section class="mb-5">
                {{ . }}
            </section>
        {{ end }}
        {{ range sort .Pages "Params.order" }}
            {{ $page := . }}
            <section class="mb-5">
                {{ with .Title }}
                    <a class="anchor" id='{{ with $page.Param "anchor" }}{{ . }}{{ else }}{{ anchorize . }}{{ end }}'></a>
                    <h2>{{ . }}</h2>
                {{ end }}
                {{ .Content }}
            </section>
            {{ if isset .Params "location" }}
                {{ if eq .Params.location "Member List" }}
                    {{ range slice "Providers" "Organizations" "Support Groups" }}
                        <h3>{{ . }}</h3>
                        <ul class="list-none flex justify-left flex-wrap align-bottom">
                            {{ range index $.Site.Data.members . }}
                                <li class="text-left w-3/4 mz-auto sm:w-1/2 md:w-1/3 lg:w-1/4 p-5 align-end">
                                    <figure class="rounded shadow-md p-5">
                                        <div class="pb-3 h-64 sm:h-48 flex justify-center">
                                            <a href="{{ .link }}" class="flex p-0"><img src="{{ .img }}" class="mx-auto max-w-full max-h-full self-center" /></a>
                                        </div>
                                        <div>
                                            <h4 class="text-base md:text-lg"><a href="{{ .link }}" class="text-gray-800 hover:underline">{{ safeHTML .title }}</a></h4>
                                            <figcaption class="mb-2 shorten">
                                                {{ safeHTML .text }}
                                            </figcaption>
                                            {{ with .contact }} 
                                                <hr class="mb-1" />
                                                <div class="pt-2 -mx-1 border-solid border-gray-400">
                                                    {{ range $k, $el := . }}
                                                        {{ $href := string $el | printf "javascript:popup({html: '%s', showConfirmButton: false, showCloseButton: true})" | printf "%s" }}
                                                        {{ $target := "" }}
                                                        {{ if and (ne $k "phone") (ne $k "mail") (ne $k "map-pin") }}{{ $href = $el }}{{ $target = "_blank" }}{{ end }}
                                                        <a {{ printf "href=%q" $href | safeHTMLAttr }} {{ printf "target=%q" $target | safeHTMLAttr }} rel="nofollow" class="text-gray-500 hover:text-gray-500 mx-1" data-custom-open="modal-1"><i data-feather="{{ $k }}" class="inline"></i></a>
                                                    {{ end }}
                                                </div>
                                            {{ end }}
                                        </div>
                                    </figure>
                                </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                {{ else if eq .Params.location "Profile List" }}
                    <ul class="list-none flex justify-center flex-wrap">
                        <!-- TODO: make this into a list of taxonomies instead of a list of profile lists which become cumbersome -->
                        {{ range sort (where .Site.RegularPages "Params.categories" "intersect" .Params.profilecategory) "Params.order" }}
                            <li class="p-2 w-1/2 sm:w-1/2 md:w-1/3 lg:w-1/5 fade-up">
                                <figure class="text-center">
                                    <a href="{{ .Permalink }}"><img src="{{ .Params.image }}" class="w-full pa-6 rounded-full shadow-md mb-2 border-white border-8" /></a>
                                    <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                                    <p><em>{{ .Params.position }}</em></p>
                                    <div class="w-full text-left shorten">
                                        <div class="hidden md:block mb-1">
                                            {{ if .Truncated }}
                                            {{ .Summary }}
                                            <p><a href="{{ .Permalink }}">Read more...</a></p>
                                            {{ else }}
                                            {{ .Content }}
                                            {{ end }}
                                        </div>
                                    </div>
                                </figure>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    {{ $index := .Params.index }}
                    {{ .Render .Params.template }}
                {{ end }}
            {{ end }}
        {{ end }}
    </article>
</main>
{{ end }}